body 
{

   background: #ccc

}

#header a:hover
{
  color: #fff;


}

.area{


  margin-top: 100px;

}

.footer {
  text-align: center;
  background: blue;




}
.content {
  min-height: calc(100vh - 70px);
}

    